<h2>로그인</h2>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<%= form_with(url: "/cookie/sign_in") do |f|%>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "로그인" %>
<% end %>